body {
    background: #b82e9a;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, sans-serif;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#tablero {
    display: grid;
    gap: 2px;
}

.celda {
    width: 60px;
    height: 60px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.celda.encendida {
    background: rgb(0, 0, 255);
}

.panel, .info {
    background: rgba(255,255,255,0.15);
    padding: 20px;
    border-radius: 10px;
}
